.container {
    height: 80vh;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

.tableContainer {
    width: 80%;
}

.filter > button, filter > input {
    flex:1
}

.datePicker, .searchFilter {
    width: 15rem;
}


/* div[data-portal="true"] {
    display: none;
  } */

 