.container {
    height: 80vh;
    margin: 0;
    padding: 0;
}

.tableContainer {
    width: 80%;
}

.filter > button, filter > input {
    flex:1
}

.datePicker, .searchFilter {
    width: 18rem;
}

.filters > button {
    background-color: steelblue;
    
}

.pill {
    background-color: orangered;
    color: white;
}

 